* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
html{
  background-image: url("../images/chat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
*:focus{
  outline:none;
}

.header-info {
  width: 100%;
  height: 40px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
  overflow: hidden;
}
.header-cmu {
  width: 386px;
  color: rgba(150,18,18,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  text-shadow: 0 0 3px white, 0 0 3px white;
}
.header-info button{
  width: 200px;
  height: 40px;
  background: rgba(150,18,18,1);
  margin-left: 80%;
  opacity: 1;
  border: none;
  overflow: hidden;
  cursor: pointer;
  outline: 1;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  color: white;
}
.form {
  width: 916px;
  height: 199px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 505px;
  left: 230px;
  overflow: hidden;
  border: 2px solid black;
}
.form textarea{
  width: 896px;
  height: 130px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  overflow: hidden;
  border: none;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  overflow-y: scroll;
}
.form button{
  width: 100px;
  height: 40px;
  background: rgb(202, 199, 199);
  margin: 150px 805px auto;
  opacity: 1;
  border: none;
  overflow: hidden;
  cursor: pointer;
  outline: 1;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 22px;
  color: black;
}
.chat-message{
  width: 916px;
  height: 430px;
  overflow-y: scroll;
  background-size: cover;
  top: 70px;
  left: 230px;
  position: absolute;
}
.chat-message .message .name{
	color: rgba(150,18,18,1);
  font-weight: bold;
	border-radius: 1px;
}
.chat-message .message{
  padding-left: 10px;
	margin-bottom: 5px;
	color: black;
	border-radius: 1px;
	overflow-wrap: break-word;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  border-top: 1px solid;
}
.chat-message .message .name span{
  color: rgb(92, 89, 89);
  font-weight: normal;
}